services:
  postgres:
    image: postgres:16.1-alpine
    container_name: Pet2
    restart: "no"
    ports:
      - "5434:5432"
    networks:
      - keycloak-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: pet
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5

  keycloak:
    container_name: Keycloak
    image: quay.io/keycloak/keycloak:latest
    ports:
      - 8082:8080
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: pet
      DB_SCHEMA: public
      DB_USER: admin
      DB_PASSWORD: admin
      KEYCLOAK_ADMIN: administrator
      KEYCLOAK_ADMIN_PASSWORD: administrator
    networks:
      - keycloak-network
    depends_on:
      - postgres
    command:
      - "start-dev"
networks:
    keycloak-network:
      driver: bridge

volumes:
  postgres_data:
      driver: local
  keycloak_data:
      driver: local
